@import "../App.scss";

.playlists-container {
  height: calc($nav-height);
}

table {
  border: solid 1px black;
  border-collapse: collapse;
  font-size: small;
  overflow-y: auto;
  border-radius: 1%;
  display: block;
  background-color: black;
  color: whitesmoke;
  padding: 1%;
  font-weight: bold;

  th {
    color: rgb(30, 215, 97);
    // padding: 0;
  }

  tr {
    border-top: solid 1px rgba(230, 228, 228, 0.269);
    height: 3em;
    // padding: 1%;
  }
}

.search-table {
  height: 20em;
  width: 50em;

  //   tr {
  //     border: solid 1px black;
  //     // padding: 10px;
  //     // text-align: center;
  //     height: 3em;
  //   }
}

.playlist-table {
  height: 20em;
  width: 14em;

  tr {
  }

  td {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
}
